
.navbar-inverse {
    background-color: #11A456 !important;
    border-color: #080808;
    color: # !important;
}
.section {
    background-color:#D7D7E3 !important;
}
.navbar-header{

padding-left: 20px;
padding-right: 20px;
	
}
.navbar-nav > .active > a:hover {
    color: #FFF;
    background-color: #11A456 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #0B1407 !important;
}
.navbar-inverse .navbar-brand {
    color: #090101 !important;
}
.dropdown li
	{
border-bottom: 1px solid #8C1313;
background-color:#45f788;
}
.product-bar{
border: 1px solid #7F4E52;
background-color:#893BFF;
margin-top: 2px;

}

.cow{
	transition:all 2s ease 0s;
	margin-top: 0px;
	margin-bottom: 5px;
}
.cow h1{
border:2px solid green;
background-color: purple;


}
avbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: #11A456 !important;
}
.cow h1 img{
	padding-bottom: 10px;
	padding-left: 5px;
	float:left;


}
 .cow img:hover{
 transform:scale(1.1);
 	transition:all 2s ease 0s;
 }
 .footer-fixed-bottom{

height: 100px;
width: auto;
background-color:#B0FF3B;
text-align: center;
padding: 40px;
margin-top: 10px;

 }
 .product-box{
	height: 200px;
	width: 200px;
	overflow: hidden; 

 }
 .gray{

 	background-color: #000;
 	padding:20px;
 }
 .rop{
color: purple;
padding-left: 40px;


 }
 .glyphicon{
font-size: 50px;
float: left;



 }
 .main ul a{
 	margin-right: 30px;
 	color: white;
 	text-decoration: none;



 }


h3{

text-align: center;
border:1px solid #8AC007;
background-color: #8AC007;
list-style-type: none;

}
p{
text-align: center;
color: gray;



}
.container{

	margin-left: 20px;
	margin-right: 20px;
}



